<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCpUG1r3b0-hT_qTjPQPxt1ZbUcl8wdsuA</string>
	<key>GCM_SENDER_ID</key>
	<string>22611911509</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.bogibek.todo</string>
	<key>PROJECT_ID</key>
	<string>todo-b37c1</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-b37c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22611911509:ios:8d8fb9fdba0039326845dc</string>
</dict>
</plist>